header {
    padding: 10px 20px;
    background-color: #007bff;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo img {
    width: 200px;
    height: 50px;
}

.authentication{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.authorization a {
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.authorization a:hover{
    text-decoration: underline;
}

.registration a {
    background-color: #007bff;
    text-decoration: none;
    color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.registration a:hover{
    text-decoration: underline;
}


.profile {
    position: relative;
}

.profile-icon {
    cursor: pointer;
    position: relative;
}

.profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-width: 120px;
    z-index: 999; /* Поверх всех элементов */
}

.profile-menu a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
}

.profile-menu a:hover{
    text-decoration: underline;
}


