.update.button-reset{
    background-color: rgba(31, 137, 255, 0.9);
    font-size: 15px;
    color: white;
    padding: 0.25em;
    width: 100%;
}

.update.button-reset.active{
    background-color: rgba(0, 119, 255, 0.9);
}

.update.button-reset.active:hover{
    background-color: rgba(0, 93, 208, 0.9);
}

.update.button-reset:disabled{
    background-color: rgba(31, 137, 255, 0.6);
    cursor: not-allowed;
}