.calendar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.date-buttons{
    /*margin-right: 25px;*/
    background-color: #ffffff;
    /*background-color: #ababab;*/
}
.btn-calendar {
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    /*border-radius: 5px;*/
    text-decoration: none;
    color: white;
    background-color: #b5b5b5;
    /*box-shadow: 0 5px 0 #807b7b;*/
}

.btn-calendar:hover {
    background: #318cf8;
    /*box-shadow: 0 5px 0 #003CC5;*/
    /*position: relative;*/
    /*top: 5px;*/
}

.btn-calendar.active{
    background: #007bff;
}